/*
Author Information
Author Name - Zannatoun Horrain
Email - koli@neety.media
*/


.nopadding {
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noclick {
    pointer-events: none;
}
/* Clear */
.clear {
    display: block;
    width: 100%;
    clear: both;
}
/* Line and space */
.line {
    width: 100%;
    display: block;
    clear: both;
    border-top: #c3c3c3 solid 1px;
    margin-top: 40px;
    padding-top: 40px;
    }
.line-dotted {
    border-top: #c3c3c3 dotted 1px;
}
.line-dashed {
    border-top: #c3c3c3 dashed 1px;
}
.space {
    width: 100%;
    height: 10px;
    clear: both;
    display: block;
}
/*--------------------------------------------------------------------
[Dropdown menu]
--------------------------------------------------------------------*/
/* General */
.dropdown {text-align: right;}
.dropdown ul {margin: 0;padding: 0;}
.dropdown ul li {list-style: none;display: inline-block;}
.dropdown ul li a {color: #fff;font-size: 13px;line-height: 49px;padding: 10px;text-decoration: none;font-weight: bold;text-transform: uppercase;}
/* Parent */
.dropdown > ul {}
.dropdown > ul > li {position: relative;}
.dropdown > ul > li > a {padding: 15px 30px;display: inline-block;text-align: center;width: 130px;}
.dropdown > ul > li:hover > a {color: #17DAA3;}
.dropdown > ul > li:hover > ul {opacity: 1;transform: scale(1) translateY(0);visibility: visible;}
/* Children */
.dropdown > ul > li > ul {transform-origin: center top;transition: all 100ms linear;position: absolute;left: 0;transform: scale(.5) translateY(200px);opacity:0;visibility: hidden;}
.dropdown > ul > li > ul {border-radius: 5px;box-shadow: 0px 0px 6px -1px black;background:RGBA(23, 218, 163, .9);width: 130px;}
.dropdown > ul > li > ul li {width: 100%;position: relative;}
.dropdown > ul > li > ul li a {display: inline-block;width: 130px;text-align: center;line-height: 30px;color: white;}

.dropdown > ul > li > ul li ul {border-radius: 5px;box-shadow: 0px 0px 6px -1px black;background:RGBA(23, 218, 163, .9);width: 130px;visibility: hidden;}
.dropdown > ul > li > ul li ul {position: absolute;top: 0;left: 130px;transform-origin: right top;z-index: 2;transition: all 100ms linear;transform: scale(.5) translateX(200px);opacity:0;}
.dropdown > ul > li > ul li:hover > ul {opacity: 1;transform: scale(1) translateY(0);visibility: visible;}
.dropdown > ul > li > ul li:hover > a {color: black;}
/* ==========================================================================
   [Section]
========================================================================== */
.section {
    width: 100%;
    display: block;
    position: relative;
}
.section > div > div > div {
    transition: all 300ms ease-in-out;
}
/* ==========================================================================
   [Sticky header]
========================================================================== */
.sticky {
    height: 60px;
    transition: all 300ms ease-in-out;
}
.sticky.sticked {
    animation: sticky 1000ms ease-in-out;
    position: fixed;
    z-index: 4;
}
@keyframes sticky {
    0% {
        top: -300px;
        opacity: 0.7;
        transform: scale(.7);
    }
    100% {
        top: 0;
        opacity: 1;
        transform: scale(1);
    }
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a2345+0,010102+100 */
    background: #0a2345; /* Old browsers */
    background: -moz-linear-gradient(top,  #0a2345 0%, #010102 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0a2345 0%,#010102 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0a2345 0%,#010102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2345', endColorstr='#010102',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* ==========================================================================
   [Generel element styles]
========================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;color: #fff;
}
h1 {
    font-size: 38px;
    margin: 20px 0 20px 0;
}
h2 {
    font-size: 30px;
    margin: 20px 0 20px 0;
}
h3 {
    font-size: 24px;
    margin: 20px 0 20px 0;
}
h4 {
    font-size: 20px;
    margin: 10px 0 10px 0;
}
h5 {
    font-size: 15px;
    margin: 10px 0 10px 0;
}
h6 {
    font-size: 13px;
    margin: 10px 0 10px 0;
}
h1.underline:after, h2.underline:after, h3.underline:after, h4.underline:after, h5.underline:after, h6.underline:after {
    content: "";
    display: block;
    width:30px;
    height: 1px;
    margin:auto;
    background: #17daa3;
    position: relative;
    top: 20px;
}
button, .button {
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 60px;
    margin: 20px 10px;
    border-radius: 50px;
    border: 2px solid #153b6d;
    background: #0a2345;
    bottom: 47%;
    color: white;
}
button.outline, .button.outline {
    background: none;
}
button:hover, .button:hover {
    color: #fff;
    background: #153b6d;
    text-decoration: none;
}
p {
    font-size: 18px;
    font-weight: 500;
    color: #2e66b2;
    margin: 20px 0 20px 0;
    line-height: 30px;
    letter-spacing: 1.5px;
}
strong, b {
    color: #2a5da3
}
.section {
    margin-bottom: 100px;
}
/* ==========================================================================
    [Section: Header]
========================================================================== */
.section-header .logo a img {
    display: block;
    width: 150px;
    margin: auto;
}
.section-header .logo a  {
    display: block;
    width: 100%;
}
.section-header {
    margin-top: 65px;
}
.section-header .hamburger-menu {
    display: block;
    width: 38px;
    height: 30px;
    background-image: url('../img/hamburger.png');
    float: right;
    cursor: pointer;
    margin-top: -80px;
    z-index: 6;
    position: relative;
}
.section-header .header__content {
    text-align: center;
}
/* ==========================================================================
    [Section: Screens]
========================================================================== */
.section-screens {
    background-image: url('../img/equ.png');
    background-repeat: no-repeat;
    background-position: center;
}
.section-screens .screens__screen {
    
}
.section-screens .screens__screen img {
    width: 100%;
}

/* ==========================================================================
    [Section: Middle]
========================================================================== */
.section-middle {
    text-align: center;
}
.section-middle img {
    /*background-image: url('../img/headephone.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
    min-height: 500px;*/
    max-width: 100%;
}
.section-middle h2 {
    margin-top: 50px;
}

/* ==========================================================================
    [Section: Info]
========================================================================== */
.section-info {
    background: none;
    min-height: 700px;
}
.section-info h3, .section-info p {
    text-align: center;
}
.section-info p {
    font-size: 14px;
}
.info-icon {
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
}
.info-icon-1 {
    background-image: url('../img/icon-speaker.png');
}
.info-icon-2 {
    background-image: url('../img/icon-earphone.png');
}
.info-icon-3 {
    background-image: url('../img/icon-electricity.png');
}
.info-icon-4 {
    background-image: url('../img/icon-cd.png');
}

/* ==========================================================================
    [Section: Feature]
========================================================================== */
.section-feature  img {
    width: 100%;
}
.section-feature h2 {
    text-align: center;
}
.section-feature p {
    font-size: 14px;
    text-align: center;
}
.info-icon-5 {
    background-image: url('../img/icon-power.png');
}

/* ==========================================================================
    [Section: App]
========================================================================== */
.section-app {
    background-image: url('../img/middle-backgrounds.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #061224;
    height: 500px;
    /*opacity: .2;*/
}
.section-app p {
    color: #66778e;
}
.section-app div {
    text-align: center;
    color: #213a61;
}
.section-app div b {
    color: #66778e;
}
.section-app img {
    margin-right: 20px;
}
.rslides_tabs {
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
.rslides_tabs li {
    list-style: none;
    display: inline;
}
.rslides_tabs li a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: #213a61 solid 2px;
    text-indent: -9999px;
    outline: 0;
    margin: 0 6px;
    border-radius: 50%;
}
.rslides_tabs li.rslides_here a {
    border: #335a95 solid 2px;
    background: #335a95;
}
.rslides1 {
    height: 230px;
    padding: 0;
}
.rslides1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.rslides1 li {
    list-style: none;
    width: 100%;
}
.rslides1 p {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}
/* ==========================================================================
    [Section: Top]
========================================================================== */
.section-top {
    margin-bottom: 0;
}
.section-top h2 {
    text-align: center;
}
.section-top p {
    color: #66778e;
    text-align: center;
}

/* ==========================================================================
    [Section: Banner]
========================================================================== */
.section-banner {
    background-image: url('../img/phone-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 900px;
    margin-bottom: 0;
}
/* ==========================================================================
    [Section: Bottom]
========================================================================== */
.section-bottom {
    text-align: center;
}

/* ==========================================================================
    [Section: Footer]
========================================================================== */
.section-footer {
    margin-bottom: 0;
}
.section-footer .container {
    border-top: #0c1524 solid 1px;
}
.section-footer p, .section-footer a {
    color: #14396a;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
}
.section-footer ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-footer ul li {
    list-style: none;
    display: inline;
}
.section-footer a {
    padding: 20px 10px 20px 0;
    display: inline-block;
}
.section-footer p {
    text-align: center;
}
/* ==========================================================================
   [Gridify plugin styles]
========================================================================== */
.gridify {transition: all 300ms linear;}
.gridify {border: #266c7f dashed 4px;height: 50px;margin: 5px;overflow: hidden;text-align: center;line-height: 42px;}
/*.gridify {border: #c5c5c5 dashed 1px;height: 150px;margin: 5px;overflow: hidden;}*/



/* ==========================================================================
   [Test]
========================================================================== */
.body {
    height: 800px;
}
/*.scrollex {
    height: 50px;
    background: lightpink;
}*/
/* ==========================================================================
   [Mobile navigation]
========================================================================== */
.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    display: none;
}
.mobile-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0a2344;
    z-index: 5;
    border: none;
    transition: all 300ms ease-in-out;
    transform: translateX(-100%);
    /*box-shadow: 5px 0px 12px -6px black;*/
}
.m-nav-logo {
    display: block;
    width: 178px;
    height: 67px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 50px;
    transition: all 600ms ease-in-out;
    transform: translateX(-100%);
    background-size: 100%;
}
.mobile-nav ul {
    display: block;
    max-width: 300px;
    margin: 20px auto 0 auto;
    padding: 50px 0;
    transition: all 600ms ease-in-out;
    transform: translateX(-100%);
    /*background: rgba(255, 255, 255, .3);*/
}
.mobile-nav ul li {
    text-align: center;
}
.mobile-nav ul li a {
    display: block;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: dotted 1px rgba(255,255, 255, 0.1);
    padding: 10px 0;
    text-decoration: none;
}
.mobile-nav ul li a i {
    margin-right: 5px;
}
.mobile-nav.show {
    transform: translateX(0px);
}
.mobile-nav.show .m-nav-logo {
    transform: translateX(0);
}

.mobile-nav.show ul {
    transform: translateX(0);
}
/* ==========================================================================
   [Responsive design]
========================================================================== */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .section-screens .screens__screen img {
        width: 60%;
        display: block;
        margin: auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h1 {
        font-size: 48px;
        margin: 30px 0 30px 0;
    }
    h2 {
        font-size: 30px;
        margin: 10px 0 10px 0;
    }
    h3 {
        font-size: 24px;
        margin: 10px 0 10px 0;
    }
    h4 {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
    h5 {
        font-size: 15px;
        margin: 5px 0 5px 0;
    }
    h6 {
        font-size: 15px;
        margin: 5px 0 5px 0;
    }
    p {
        margin: 20px 0 20px 0;
    }
    button, .button {
        margin: 30px 0 30px 0;
    }


    /* ==========================================================================
        [Section: Header]
    ========================================================================== */
    .section-header .logo a img {
        display: inline;
        width: initial;
        margin: auto;
    }
    .section-header .logo a  {
        display: inline;
    }
    .section-header .hamburger-menu {
        margin-top: 20px;
    }

    /* ==========================================================================
        [Section: Screens]
    ========================================================================== */
    
    .section-screens .screens__screen {
        text-align: center;
        width: 33.33333%;
        float: left;
    }
    .section-screens .screens__screen img {
        width: 90%;
        margin-top: 40px;
    }
    .section-screens .screens__screen.screens__screen_2 img {
        width: 100%;
        margin-top: 0;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    /* ==========================================================================
        [Section: Middle]
    ========================================================================== */
    .section-middle {
        text-align: left;
    }

    /* ==========================================================================
        [Section: Info]
    ========================================================================== */
    .section-info {
        background-image: url('../img/phone.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 35%;
        min-height: 500px;
    }
    .section-info h3, .section-info p {
        text-align: left;
    }
    .section-info h1 {
        margin-bottom: 150px;
    }
    .info-icon {
        background-position: left center;
    }
    /* ==========================================================================
        [Section: Feature]
    ========================================================================== */
    .section-feature h2 {
        text-align: left;
    }
    .section-footer ul {
        text-align: left;
    }
    .section-feature p {
        text-align: left;
    }
    .section-footer p {
        text-align: right;
    }
    /* ==========================================================================
        [Section: Footer]
    ========================================================================== */
    .section-footer .container {
        padding: 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


